body{
    background-color: black;
}

.btn{
    user-select: none;
    width:auto;
    color:rgb(200, 200, 200);
    background-color:rgb(100, 100, 100);
    position:absolute;
    bottom:0;
}
.btn:hover{
    cursor:pointer;
}

.rules{
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
}

label{
    color:white;
}